* {
    font-family: Inter;
}


.home-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.main-left {
    width: 25%;
    background-color: #2A2D39;
    height: 100vh;
    position: relative;
}

.mid-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    background-color: #1C1D21;
}

.search-area {
    width: 20%;
    background-color: aliceblue;
}

.pfp {
    border-radius: 500px;
    width: 150px;
}

.profile-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.profile-icon {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.max-size {
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.max-size2 {
    width: 50%;
}
.post-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 250px;
    margin-top: 56px;
    border-radius: 10px;
    background-color: #404557;
}
.home-username{
    font-weight: 500;
    font-size: 24px;
    color: white;
    margin-top: 12px;
    margin-bottom: 12px;
}
.friend-button{
    background-color: black;
    width: 60%;
    height: 54px;
    font-size: 16px;
    color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-pfp-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 10%;
    height: 250px;

}

.pfp-post {
    border-radius: 500px;
    padding: 2px;
    width: 90%;
}

.text-and-attachments-container {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.textarea-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 170px;
    margin-top: 20px;
}

.textarea-post {
    width: 80%;
    background-color: #404557;
    color: #FFFFFF;
    height: 99%;
    border: 0px;
    resize: none;
    text-decoration: none;
    outline: none; /* Verwijdert de focus outline */
}

.textarea-post:focus {
    outline: none;
    border: none;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.post-section-attachments {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;

    width: 100%;
    height: 70px;

}

.attachments {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 70px;
}

.gallery-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.gif-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;

}

.polls-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;

}

.location-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;

}

.post-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 20%;
    height: 40px;
    border-radius: 10px;
    margin-left: 100px;

    cursor: pointer;
    background-color: black;
    color: white;
    border: solid 1px black;
}

.post-button:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}
.friends-area-home{
    background-color: #404557;
    width: 85%;
    border-radius: 20px;
    height: 400px;
    margin-top: auto;
    overflow-y: scroll;
    position: absolute;
    bottom: 0;
    overflow-x: hidden;
}
.friends-area-home::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;  
  }
  
  .friends-area-home::-webkit-scrollbar {
    width: 16px;
  }
/*RIGHT SIDE */
.right-home {
    width: 25%;
    height: 100vh;

    background-color: #2A2D39;
    display: flex;
    flex-direction: column;
}

.right-home-search {
    margin-left: 15px;
    margin-top: 15px;
    padding-left: 15px;
    width: 90%;
    height: 40px;

    background-color: #FFFFFF;
    color: black;
    border-color: #0000;
    border-radius: 15px;
    font-size: 14px;
}

.daily-trends-main-container {
    margin-left: 15px;
    margin-top: 15px;
    padding-left: 15px;

    width: 90%;
    height: 70%;

    background-color: #404557;
    border-radius: 10px;
}

.daily-trends {
    margin-top: 5px;
    margin-left: 0px;

    color: #FFFF;
    font-size: 30px;
}

.daily-trends-container {
    width: 100%;
    height: 88%;

    color: #FFFF;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.test {
    background-color: #0000;
    color: #ffff;
    font-size: 15px;
}

.friends-container {
    width: 100%;
    height: 85px;
    display: flex;
    background-color: #404557;
    flex-direction: row;

    transition-duration: 0.2s;
  }

  .pfp-friendslist{
    width: 100%;
    border-radius: 50px;
}

.friends-left {
    width: 60px;
    margin-left: 30px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.friends-right {
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}

.friend-name {
    font-weight: 700;
}

.friend-status {
    color: #979797;
}


/* signUpScreen */

.signUpbg{
    width: 100%;
    height: 100vh;
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signUpContainer{
    width: 35%;
    height: 80%;
    background-color: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.signInForm{
    display: flex;
    flex-direction: column;
}
.inputField{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    background-color: #2A2D39;
    border: 0px;
}